In [103]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import normalize
from sklearn.decomposition import PCA
from sklearn.cluster import MiniBatchKMeans
%matplotlib inline

In [104]:
# Load the file for analysis and view columns

df = pd.read_csv('/Users/lacivert/4/usYld.csv')

dfyields = pd.DataFrame(df)

list(dfyields.columns.values)

['Date',
 '1 mo',
 '3 mo',
 '6 mo',
 '1 yr',
 '2 yr',
 '3 yr',
 '5 yr',
 '7 yr',
 '10 yr',
 '20 yr',
 '30 yr']

In [105]:
dfyields.dropna(how='any', inplace=True)
dfyields.describe()

,1 mo,3 mo,6 mo,1 yr,2 yr,3 yr,5 yr,7 yr,10 yr,20 yr,30 yr
count,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000
mean,1.063336,1.111568,1.217170,1.313403,1.534297,1.772482,2.260680,2.651766,3.009079,3.561253,3.720290
std,1.621294,1.634392,1.652907,1.603090,1.480207,1.392732,1.248467,1.134823,1.043992,1.028922,0.878123
min,0.000000,0.000000,0.020000,0.080000,0.160000,0.280000,0.560000,0.910000,1.370000,1.690000,2.110000
25%,0.040000,0.060000,0.110000,0.190000,0.470000,0.820000,1.400000,1.875000,2.190000,2.670000,2.970000
50%,0.150000,0.170000,0.300000,0.480000,0.870000,1.260000,1.830000,2.270000,2.740000,3.340000,3.580000
75%,1.640000,1.700000,1.860000,2.070000,2.290000,2.450000,2.770000,3.230000,3.730000,4.470000,4.530000
max,5.270000,5.190000,5.330000,5.300000,5.290000,5.260000,5.230000,5.230000,5.260000,5.910000,5.620000

In [106]:
# the first dates
dfyields.head(3)

,Date,1 mo,3 mo,6 mo,1 yr,2 yr,3 yr,5 yr,7 yr,10 yr,20 yr,30 yr
2899,7/31/01,3.67,3.54,3.47,3.53,3.79,4.06,4.57,4.86,5.07,5.61,5.51
2900,8/1/01,3.65,3.53,3.47,3.56,3.83,4.09,4.62,4.90,5.11,5.63,5.53
2901,8/2/01,3.65,3.53,3.46,3.57,3.89,4.17,4.69,4.97,5.17,5.68,5.57

In [107]:
# The last dates
dfyields.tail(3)

,Date,1 mo,3 mo,6 mo,1 yr,2 yr,3 yr,5 yr,7 yr,10 yr,20 yr,30 yr
7173,8/29/18,1.97,2.13,2.28,2.48,2.67,2.75,2.78,2.85,2.89,2.96,3.02
7174,8/30/18,1.97,2.11,2.28,2.47,2.64,2.72,2.75,2.82,2.86,2.93,3.00
7175,8/31/18,1.95,2.11,2.28,2.46,2.62,2.70,2.74,2.81,2.86,2.95,3.02

In [108]:
# drop the date column to keep the entire dataframe the same datatype, i.e. integers
dfylds = dfyields.drop(columns=['Date'],axis=1)

# print data types
dfylds.dtypes

1 mo     float64
3 mo     float64
6 mo     float64
1 yr     float64
2 yr     float64
3 yr     float64
5 yr     float64
7 yr     float64
10 yr    float64
20 yr    float64
30 yr    float64
dtype: object

In [109]:
# Setting up my variables

one_month, three_month, six_month, one_year = df.loc[:,'1 mo'], df.loc[:,'3 mo'], df.loc[:,'6 mo'], df.loc[:,'1 yr']

two_year, three_year, five_year, seven_year = df.loc[:,'2 yr'], df.loc[:,'3 yr'], df.loc[:,'5 yr'], df.loc[:,'7 yr']

ten_year, twenty_year, thirty_year = df.loc[:,'10 yr'], df.loc[:,'20 yr'], df.loc[:,'30 yr']

In [110]:
list(dfylds.columns.values)

['1 mo',
 '3 mo',
 '6 mo',
 '1 yr',
 '2 yr',
 '3 yr',
 '5 yr',
 '7 yr',
 '10 yr',
 '20 yr',
 '30 yr']

In [111]:
dfylds.head()
# Exploratory Data Analysis

# Visualizing my variables 
sns.lineplot(estimator=None, size="coherence", sizes=(0, 6),data=dfylds)

#plt.xlabel('All Maturities',color='green')
#plt.ylabel('Frequency of Yield Curve Rates',color='green')
#plt.title('Daily Distplot January 1990 - August 2018', color='green')
#plt.legend()

ValueError: These `style` levels are missing dashes: {'20 yr', '10 yr', '30 yr', '5 yr', '7 yr'}